body{
    background-color: #fff;
}

.head{
    background-color: #f1f0f0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    border-bottom: 1px solid #d8d8d8;
    font-family: "Champagne Royale";
    font-size: 25px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    gap: 20px;
}

.head a{
    text-decoration: none;
    color: #000;
}

.head a:hover{
    text-decoration: underline;
}

.u{
    margin-left: 50px;
}

.k{
    margin-left: 15px;
}

.Profile{
    margin-top: 70px; /* Adjust the margin to place .Profile under .head */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 20px;
}

.header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.text-profile{
    font-size: 24px;
    font-weight: bold;
    color: #24292e;
    text-align: center;
    margin-bottom: 10px;
}

.about-user{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.mini-text-profile{
    font-size: 16px;
    color: #586069;
    text-align: center;
}

.btn{
    width: 85%;
    height: 50px;
    justify-content: center;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #d8d8d8;
    background-color: #d8d8d8;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-top: auto;
    padding-bottom: auto;
    cursor: pointer;
}

.btn:hover{
    background-color: #9c9c9c;
}

@font-face {
    font-family: "Black Wednesday";
    src: url("fonts/Black\ Wednesday.otf") format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "KZ Supercell-Magic";
    src: url("fonts/KZ\ Supercell-Magic.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Champagne Royale";
    src: url("fonts/Champagne\ Royale.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Full Lettersano";
    src: url("fonts/Full\ Lettersano.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Catrinity";
    src: url("fonts/Catrinity.otf") format("opentype");
    font-style: normal;
    font-weight: 400;
}