body{
  background-image: url(./assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: Arial, sans-serif; /* Change font to a simpler style */
}

.ViborReg{
    background-color: #fff;
  padding: 20px;
  width: 70%;
  max-width: 500px;
  height: 550px;
  max-height: 550px;
  min-height: 400px;
  display: grid;
  align-items: center;
  margin: auto auto;
  border-radius: 5px;
  margin-top: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for better appearance */
}

.text{
    font-size: 17px;
    font-weight: normal;
    color: #000;
    font-family: Arial; /* Use a different font */
    text-align: center;
    margin-top: 30px;
}

.input{
    width: 55%;
    height: 40px;
    margin-top: 25px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    border: 1px solid #ccc;
    padding: 0 10px;
    font-size: 14px;
}

#username{
    margin-top: 5px;
}

.btn-choose{
  width: 70%;
  height: 45px;
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  border-radius: 20px;
  border: 1px solid rgb(101, 1, 194);
  background: #ffffff;
  color: rgb(138, 98, 218);
  font-weight: normal;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-choose:hover{
  background: linear-gradient(rgb(101, 1, 194), rgb(138, 98, 218));
  color: #ffffff;
}

#organization{
  background: linear-gradient(rgb(101, 1, 194), rgb(138, 98, 218));
  border: none;
  color: #ffffff;
}

#organization:hover{
  border: 1px solid rgb(101, 1, 194);
  background: #ffffff;
  color: rgb(138, 98, 218);
}

.mini-text{
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    color: #747373;
}

@font-face {
    font-family: "Black Wednesday";
    src: url("./fonts/Black Wednesday.otf") format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "KZ Supercell-Magic";
    src: url("./fonts/KZ Supercell-Magic.ttf") format("truetype");
    font-style: normal;
    font-weight: 4S00;
}

@font-face {
    font-family: "Champagne Royale";
    src: url("./fonts/Champagne Royale.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}