body{
  /*background-image: url(./assets/bg.png);*/
  background-color: #ffffff;
  background-size: cover; /* Масштабирует изображение, чтобы оно занимало весь экран */
  background-repeat: no-repeat; /* Отключает повторение изображения */
  background-position: center; /* Центрирует изображение */
  height: 100vh; /* Устанавливает высоту на весь экран */
  margin: 0; 
  font-family: Arial, sans-serif; /* Change font to a simpler style */
}

@font-face {
  font-family: "Black Wednesday";
  src: url("./fonts/Black Wednesday.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "KZ Supercell-Magic";
  src: url("./fonts/KZ Supercell-Magic.ttf") format("truetype");
  font-style: normal;
  font-weight: 4S00;
}

@font-face {
  font-family: "Champagne Royale";
  src: url("./fonts/Champagne Royale.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}